<div class="container ">
    <div class="btn-group">
        <button class="btn btn-primary m-3" (click)="guardarCliente()">Guardar Cliente</button>
        <button class="btn btn-primary m-3" (click)="guardarProductos()">Guardar Productos</button>
        
    </div>

    <div class="btn-group">
        <button class="btn btn-warning m-3" (click)="eliminarCliente()">Eliminar Clientes </button>
        <button class="btn btn-warning m-3" (click)="eliminarProducto()">Eliminar Productos </button>
        <button class="btn btn-warning m-3" (click)="eliminarTodo()">Eliminar Todo </button>
    </div>
   
    
    <div class="container">
        <div class="card mt-3 p-3" *ngFor="let cliente of clientesLocales">
            <p>Cliente: {{cliente.nombre}}</p>
            <p>Edad: {{cliente.edad}}</p>
        </div>
    </div>

    <div class="container">
        <div class="card mt-3 p-3" *ngFor="let producto of productosLocales">
            <p>Nombre Producto: {{producto.nombre}}</p>
            <p>Precio: {{producto.precio | currency: 'ARG'}}</p>
        </div>
    </div>
</div>
